h1{
  font-weight: bold;
}

.container{
  margin-top: 5%;
}

.label-encode{
  font-size: 18px;
  font-weight: 400;
  width: 30%;
}

.input-encode{
  width: 100%;
}

.form-div{
  margin: 0 auto;
}

.error-input{
  margin-bottom: 0;
}